.subtittle{
    color: rgba(0, 0, 0, 0.60);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 4.2px;
}
/* Hero */
.main-hero {
    min-height: 100vh;
 background-image: url(../../assets/Barberhero.png);
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    background-color: #000;
}

.hero-content {
    padding: clamp(40px, 12vw, 125px) 16px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-content h1{
    margin: 2px 0 29px 0;
    color: #FFF;
    font-size: clamp(32px, 6vw, 72px);
}
.hero-content p{
    max-width: 560px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
}
.hero-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.hero-tell {
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.35px;
        padding: 16px 32px;
        border: 0.8px solid rgba(255, 255, 255, 0.30);
}
.hero-tell:hover {
    background-color: rgba(255, 255, 255, 0.10);
}
.hero-tell:active {
    background-color: rgba(255, 255, 255, 0.20);
}
/* About Us Section */
.aboutUs {
    padding: 120px 0;
}

.aboutUs .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 64px 16px;
    flex-wrap: wrap;
}

.aboutUs-content {
    max-width: 590px;
    flex: 1 1 320px;
}
.aboutUs-content h2{
    color: #0A0A0A;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -1.2px;
    margin-bottom: 16px;
}

.aboutUs-content p{
    color: rgba(0, 0, 0, 0.60);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.35px;
    margin-bottom: 16px;
}

.aboutUs-info {
        margin-top: 32px;
    display: flex;
    gap: 40px;
}
.aboutUs-info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.aboutUs-info-item h3{
    color: #0A0A0A;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
}
.aboutUs-info-item p{
    color: rgba(0, 0, 0, 0.60);
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
}

.aboutUs-info-line {
    width: 1px;
    height: 48px;
    background: rgba(0, 0, 0, 0.10);
}

.aboutus-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        gap: 24px;
}

.aboutus-card {
    padding: 24px 24px 3px 24px;
    max-width: 234px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 0.8px solid rgba(0, 0, 0, 0.10);
}
.aboutus-card h5{
    color: #0A0A0A;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
}
.aboutus-card p{
    color: rgba(0, 0, 0, 0.60);
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
}
.aboutUs-icon{
    background-color: #000;
    width: 48px;
    height: 48px;
    padding: 12px;
}
.aboutUs-img {
    width: 24px;
    height: 24px;
    
}
/* Our Service */
.OurServise {
    background: #000;
    padding: 127px 0;
}

.OurServise .container {
    
}
.OurServise h2{
    color: #FFF;
        font-family: Arial;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -1.2px;

        margin: 11px 0 19px 0;
}
.OurServise p{
    color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
}
.OurServise .subtittle {
    color: rgba(255, 255, 255, 0.60);
}

.OurServise_cards {
    margin: 108px 0 97px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.OurServise_card {
    max-width: 293.8px;
    padding: 32px;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
}
.OurServise_card h5{
    color: #FFF;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin: 22px 0 12px 0;
}
.OurServise_card p{
    color: rgba(255, 255, 255, 0.60);
        font-size: 14px;
}
.OurServise_img_container {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 0.8px solid rgba(255, 255, 255, 0.20);
}
.OurServise_img_container img{
    width: 24px;
     height: 24px;
     
}

.OurSerice_line {
    display: block;
    border-top: 0.8px solid rgba(255, 255, 255, 0.10);
    margin: 6px 0;
}
.OurServide_card_info {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}
.OurServise .secondary-button{
    display: block;
        margin: 0 auto;
}
/* Barbers */
.OurBarbers{
    padding: 15px 15px;
}
.OurBarbers h2 {  
    color: #0A0A0A;
        font-family: Arial;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -1.2px;
        margin-bottom: 19px;
}

.OurBarbers .container {
    padding-top: 126px;
    max-width: 100%
}


.OurBarbers_carusel {
    width: 100%;
    /* весь контейнер */
    overflow: hidden;
    /* скрываем лишнее */
    margin: 74px 0;
    /* вертикальные отступы */
}

/* Карточка мастера */
.barber-card {
    width: 100%;
    /* карточка растягивается на слайде */
    max-width: 360px;
    /* ограничение на десктопе */
    margin: 0 auto;
    /* центрирование */
    text-align: center;
}

.barber-card img {
    width: 100%;
    height: auto;
    display: block;
}

/* Имя мастера */
.Barber-name {
    color: #0A0A0A;
    font-size: 20px;
    font-weight: 400;
    margin: 21px 0 12px 0;
}

/* Описание */
.barber-card p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    margin: 0;
}
.splide__arrow--prev {
    left: 0em;
}
.splide__arrow--next {
    right: 5.7em;
}
.OurBarbers_carusel p{
    color: rgba(0, 0, 0, 0.60);
        font-size: 18px;
}
.OurBarbers_carusel img{
    max-width: 100%;
        height: auto;
}
.Barber-name {
        color: #0A0A0A;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin-top: 21px;
            margin-bottom: 12px;
            
}   

/* Responsive */
@media (max-width: 645px) {
    .barber-card {
        max-width: 100%;
        /* карточка растягивается на весь экран */
    }

    /* Убираем стрелки на телефонах */
    .splide__arrow {
        display: none;
    }
}
@media(max-width:640px){
    .OurServise_cards{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:645px){
    .main-hero {
            background-position: 70% center;
        }
    

        .barber-card {
          max-width: 100%;}
                .splide__arrow {
                    display: none;
                }
}

@media(max-width:400px){
    .aboutus-cards{
        display: flex;
        flex-direction: column;
    }
}
