/* Header базовый */
/* ===== HEADER ===== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px;

}

/* ===== LOGO ===== */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.logo-container p {
    font-size: 24px;
    font-weight: 700;
    color: #0a0a0a;
}

/* ===== NAV ===== */
.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 96px;
}

.main-nav li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.main-nav li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding-bottom: 8px;
    transition: color 0.3s;
}

/* Линия */
.main-nav li span {
    width: 54px;
    height: 2px;
    background: linear-gradient(90deg, #000, #000 50%, transparent);
    border-radius: 1px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* ===== HOVER + ACTIVE (ОБЩАЯ ЛОГИКА) ===== */
.main-nav li:hover a,
.main-nav li.active a {
    color: #000;
    font-weight: 600;
}

.main-nav li:hover span,
.main-nav li.active span {
    transform: scaleX(1);
    opacity: 1;
}

/* ===== LANGUAGE ===== */
.language-select {
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* ===== BURGER ===== */
.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger span {
    width: 35px;
    height: 3px;
    background: #000;
    transition: all 0.3s ease;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Footer */
footer{
    margin-top: 40px;
    padding: 40px 0;
    background: #000;
}
.footer-content {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}


.footer-content h3{
    color: #FFF;
     font-size: 18px;
}
.footer-content p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin: 16px 0;

}
.footer-contact a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin: 16px 0;

}
.footer-main {
    max-width: 400px;
}
.footer-socials {
    display: flex;
    gap: 16px;
}
.footer-socials img{
    width: 24px;
    height: 24px;}  

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-worktime {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-worktime-item {
    display: flex;
    justify-content: space-between;
}
.footer-copyright {
    border-top: 0.8px solid rgba(255, 255, 255, 0.10);
    padding-top: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
}

/* Animation  */
@keyframes spanAnimation {
    0% {
        width: 0;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 54.65px;
        opacity: 1;
        transform: scaleX(1);
    }
}



@media(max-width:645px){
        .footer-content{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }
}

@media (max-width: 780px) {
    .burger {
        display: flex;
    }

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .main-nav.open {
        transform: translateY(0);
    }

    .main-nav ul {
        flex-direction: column;
        gap: 32px;
    }

    .main-nav li a {
        font-size: 24px;
        font-weight: 600;
    }

    header .primary-button {
        display: none;
    }
}