*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(255, 255, 255, 1);
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
ul{
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
.container{
  padding: 15px 15px;
}
h1{
  color: #0A0A0A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
h2{
  color: #0A0A0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
h3{
  color: #0A0A0A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
p{
  color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}