/* Buttons */
.primary-button{
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.35px;

        padding: 12px 22px;
        background: #000;
        transition: all 0.3s ease;
}
.primary-button:hover{
    background: #141414;
    opacity: 0.9;

}
.primary-button:active{
    transform: scale(0.98);
}

.secondary-button{
    color: #0A0A0A;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.35px;
        padding: 12px 22px;
        background-color: #FFF;
        border: 0.8px solid rgba(0, 0, 0, 0.20);
        transition: 0.3 all ease;
}
.secondary-button:hover{
    opacity: 0.8;
}
.secondary-button:active{
    transform: scale(0.98);
}
.disabled-button{
    color: #0A0A0A;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        letter-spacing: 0.35px;
        padding: 12px 22px;
        border: 0.8px solid rgba(0, 0, 0, 0.20);
        opacity: 0.5;
        background-color: #F5F5F5;
        cursor: not-allowed;
}

/* Forms */
.text-input{
    width: 90%;
        padding: 10px 15px;
        border: 0.8px solid rgba(0, 0, 0, 0.27);
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease;
}
.text-input:focus{
    border-color: #000;
    outline: none;
}
.text-area{
    width: 90%;
        padding: 10px 15px;
        border: 0.8px solid rgba(0, 0, 0, 0.27);
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease;
}
.text-area:focus{
    border-color: #000;
    outline: none;
}
.select-input{
    background-image: url('../assets/select-arrow.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
        appearance: none;
            -webkit-appearance: none;
            /* Chrome, Safari */
            -moz-appearance: none;
            /* Firefox */
    width: 92%;
        padding: 14px 20px;
        border: 0.8px solid rgba(0, 0, 0, 0.27);
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease;
}
.select-input:focus{
    border-color: #000;
    outline: none;
}
option{
    font-size: 14px;
    
}
.checkbox-container{
    display: flex;
        align-items: center;
        
}
.checkbox-container input[type="checkbox"]{
    border-radius: 50%;
    margin-right: 10px;
        width: 16px;
        height: 16px;
}
.checkbox-container label{
    font-size: 14px;
}
.checkbox-container span{
    color: #0A0A0A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

    margin-left: 8px;
}

.radio-container{
    display: flex;
        align-items: center;
        
}
.radio-container input[type="radio"]{
    margin-right: 10px;
        width: 16px;
        height: 16px;
}
.radio-container label{
    font-size: 14px;
}
.radio-container span{
    color: #0A0A0A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    margin-left: 8px;
}
/* Card */
.white-card{
    max-width: 400px;
    background-color: #FFF;
    align-self: start;
    border: 0.8px solid rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 24px;
}
.white-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}
.black-card{
    max-width: 400px;
    background-color: #0A0A0A;
    align-self: start;
    border: 0.8px solid rgba(255, 255, 255, 0.10);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
        padding: 24px;
        color: #FFF;

        h3, span, label{
            color: #FFF;
        };
        p{
            color: rgba(255, 255, 255, 0.60);
        }
}
.black-card:hover{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
    transform: scale(1.01);
}
/* Notification */
.notification {
    display: flex;
    max-width: 670px;
        align-items: center;
        padding: 12px 16px;
        border-radius: 4px;
        font-size: 14px;
        margin: 10px 0;
}
.noti-successful {
    background-color: rgb(240, 253, 244);
        border: 1px solid #4BB543;
        color: #4BB543;
}
.noti-error {
    background-color: rgb(255, 242, 242);
        border: 1px solid #FF4C4C;
        color: #FF4C4C;
}
.noti-info {
    background-color: rgb(240, 248, 255);
        border: 1px solid #1E90FF;
        color: #1E90FF;
}
.noti-warning {
    background-color: rgb(255, 250, 205);
        border: 1px solid #FFA500;
        color: #FFA500;
}
.notification img {
    width: 24px;
        height: 24px;
        margin-right: 12px;
}
/* Sheets */
.table-ui {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    color: #0A0A0A;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
}

.table-ui>* {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    padding: 14px 16px;
    border-bottom: 1px solid #f1f1f1;
}

.table-ui>*:first-child {
    color: #0A0A0A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
letter-spacing: 0.35px;
}


/* Modal */
.modal-backdrop{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
}
.modal-content{
    
    background: #FFF;
        padding: 24px;
        max-width: 500px;
        width: 90%;
}
.modal-tittle-container{
    max-width: 100%;
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.modal-tittle-container h2{
    font-size: 36px;
}
.modal-content h2{
    
    text-align: left;
        
}
.modal-line{
    display: block;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-close{
        background: none;
        border: none;
        font-size: 27px;
}